
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Devanagari:wght@400;600&display=swap');
@import "tailwindcss";


body.lang-ne {
  font-size: 1.5rem;
  font-family: 'Noto Sans Devanagari', sans-serif;
}

body.lang-en {
  font-size: 1rem;
  font-family: 'Inter', sans-serif;
}

